@import './css/base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex items-center
    justify-center  gap-2 rounded-md border-2
    border-gray-200 bg-gray-200
    px-4 py-2 hover:border-gray-300 hover:bg-gray-300
    active:border-gray-400 active:bg-gray-400 disabled:text-gray-400;

    &[hidden] {
      @apply hidden;
    }
  }

  .btn-primary {
    @apply border-gray-800 bg-gray-800 text-gray-100
     hover:border-gray-700 hover:bg-gray-700 active:border-gray-600 active:bg-gray-600
     disabled:border-gray-200 disabled:bg-gray-200;
  }
}
